%h1 All Movies

= form_tag movies_path, :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    = check_box_tag "ratings[#{rating}]", 1, @selected_ratings.include?(rating)
    = rating
  = check_box_tag "ratings[all]", 1, @selected_ratings.include?("all") 
  = "All"
  = submit_tag 'Refresh'

%table#movies
  %thead
    %tr
      - if @target == "title_header"
        %th{class: "highlight"}= link_to "Movie Title", movies_path(sort_by: "title", field_id: "title_header")
        %th Rating
        %th= link_to "Release Date", movies_path(sort_by: "release_date", field_id: "release_date_header")
      - elsif @target == "release_date_header"
        %th= link_to "Movie Title", movies_path(sort_by: "title", field_id: "title_header")
        %th Rating
        %th{class: "highlight"}= link_to "Release Date", movies_path(sort_by: "release_date", field_id: "release_date_header")
      - else
        %th= link_to "Movie Title", movies_path(sort_by: "title", field_id: "title_header")
        %th Rating
        %th= link_to "Release Date", movies_path(sort_by: "release_date", field_id: "release_date_header")
      %th More Info 
    %tbody
      - @movies.each do |movie|
        %tr
          %td= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

